<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>192.168.0.18:5044</destination>
        <!--<destination>destination1.domain.com:5044</destination> -->
        <encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"modules":"user"}</customFields>
        </encoder>
        <!--只输出 warn及error级别的日志到logstash-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>

    </appender>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="java.sql.Connection" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="LOGSTASH"/>
    </root>
</configuration>

        <!--https://github.com/logstash/logstash-logback-encoder#tcp-appenders-->